# Application Host & Port
HOST=0.0.0.0
PORT=8000

# MongoDB Database Configuration
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=face_recognition_db

# Datasets & Local Crop Storage Directory
VIDEOS_FOLDER=./Employee
CROP_DIR=./crops
