# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# Face Database
faiss_index.bin
known_ids.pkl
known_embeddings.pkl

# Dataset
Employee/
uploads/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db